{% load static %}

﻿<html>
<head>
<title>add admissions page</title>
<link rel="stylesheet" href="{% static 'stylesheets/styles.css'%}"/>
</head>
<body>
<h2>
  <img src="{% static 'images/earrings.jpg'%}" width="100" height="100" alt="image not found">
  earrings
</h2>
<br>
<br><br>
<div class='module'>
  <h1>Admissions</h1>
  <br><br>

  <form action="/ad/newadd" >

    {% csrf_token %}

    <input type="hidden" name="na" value= {{name}} >
    <input type="hidden" name="addr" value= {{address}} >
    <input type="hidden" name="cont" value= {{contact}} >
    <input type="hidden" name="it" value= {{item}} >

  </form>
  <a href="./ad/newadd"><button type="button" name="button">Add Admission</button></a><br><br>
  <a href="./ad/addrep"><button type="button" name="button">Admissions Report</button></a><br><br>


</div>


<div class='module'>
  <h1>Finance</h1>
  <br><br>
  <a href="./fin/feecoll"><button type="button" name="button">Fee Collection</button></a><br><br>
  <a href="./fin/collectionreport"><button type="button" name="button">Fee Collection Report</button></a><br><br>
  <a href="./fin/duesreport"><button type="button" name="button">Fee Dues Report</button></a>


</div>

<br><br>


<br><br>

</body>

</html>
